<!-- first section -->
<section>
    <div class="container">
        <div class="row " >
            
            
            <div  class="col-12 col-md-4 " style="padding-top: 10%;">
                <h1><span style="color: green;"> Wel</span>come to our school</h1>
                <p style="color: gray;">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry. <br> Lorem Ipsum has been the industry's standard dummy <br> text ever since the 1500s,</p>
            </div>
            <div class="  col-12 col-md-7" >
                <img src="../../../../assets/act-student-institute-school-education-a-group-of-students-removebg-preview.png" alt="" height="600px" width="100%" style="opacity: 0.8;">
            </div>
        </div>
    </div>
</section>

<!-- second section -->
<section style="background-color: green;">
    <div class="container">
<div class="row d-flex justify-content-between">
<div class="ratios  col-12 col-md 3">+100K <br> success story</div>
<div class="ratios col-12 col-md 3">+100K  <br>success story</div>
<div class="ratios col-12 col-md 3">+100K <br> success story</div>
<div class="ratios col-12 col-md 3">+100K  <br>success story</div>
        </div>
    </div>
</section>
<!-- third section -->
<section class="my-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <i class="fa-solid fa-wand-magic-sparkles "style="color:rgb(254, 250, 4);text-align: center;">
            </i> 
            <h2 style="text-align: center; margin-bottom: 30px;color: green;">Top teachers</h2>
            <img class="col-md-2 col-10 imgs" src="../../../../assets/images (1).jfif" alt="">
            <img class="col-md-2 col-10 imgs" src="../../../../assets/download (1).jfif" alt="">
            <img class="col-md-2 col-10 imgs" src="../../../../assets/images (2).jfif" alt="">
            <img class="col-md-2 col-10 imgs" src="../../../../assets/download.jfif" alt="">
            <img class="col-md-2 col-10 imgs" src="../../../../assets/images.jfif" alt="">
        </div>
    </div>
</section>
<hr style="background-color: rgb(152, 152, 152);">
<!-- fourth section -->
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h3>A few words about our school</h3>
                <div style="width: 40%; height: 4px;background-color: green;"></div>
                <p class="my-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-12 col-md-7" style="box-shadow: 10px -10px 10px 5px rgb(200, 200, 200);">
                <img src="../../../../assets/Jan.-3-Teaching-Social-Acceptance-in-School_web-1024x632-1_791899ae.jpg" width="700px" alt="">
            </div>
        </div>
    </div>
</section>