<section  class="navbarBackground">
    <div class="container ">
     <nav class="navbar navbar-expand-lg ">
       <div class="container-fluid">
         <a class="navbar-brand " routerLink="/home"><img class="navLogo"  src="../../../../assets/logo.png" alt=""></a>
         <!--  دي زرار المنيو اللي بتظهرلي  في الشاشات الصغيرة-->
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <!-- <span class="navbar-toggler-icon "> </span> -->
           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
             <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
           </svg>
         </button>
         <div class="collapse navbar-collapse navLinks" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" routerLink="/Teacher">HOME</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" routerLink="/Teacher/student" routerLinkActive="active">Students</a>
             </li>
             <li class="nav-item ">
               <a class="nav-link " routerLink="/Teacher/class" >
               Classes
               </a>
   
             </li>
             <li class="nav-item">
               <a class="nav-link" routerLink="/Teacher/absence">Absence</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" routerLink="/Teacher">About Us</a>
             </li>
   
           </ul>
           <form class="d-flex " >
             <!-- <button class="btn btn-outline-success login" type="submit" routerLink="/login" *ngIf="!isLoginUser" >LOGIN</button> -->
           </form>
           <!-- <div class="dropdown" *ngIf="isLoginUser">
             <button class="btn dropdown-toggle logout" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"style="color:#E1D5D3;">
               <img src="assets/admin.png" alt=""><span> {{firstName}} {{lastName}}</span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" (click)="isLogOut()">
               <li><a class="dropdown-item" style="color:#ED553B;cursor: pointer;">
                 <i class="fa-solid fa-right-from-bracket"></i>
                 Logout</a></li>
             </ul>
         </div> -->
         </div>
       </div>
     </nav>
   </div>
   </section>
   