<div class="sidebar " style="position: fixed; width: 16.7%;" >
    <h3>Admin Panel</h3>
    <hr>
    <div class="linkes">
      <ul class="mt-4 row">
        <li class="col-12 mt-4"><a href="" routerLink="/admin/Dashboard" routerLinkActive="active">
          <i class="fa-solid fa-chart-line"></i>
            <span class="d-none d-md-inline" >Dashboard</span>
          </a></li>
        <li class="col-12 mt-4"><a href="" routerLink="/admin/user" routerLinkActive="active">
            <i class="fa-solid fa-users"></i>
            <span class="d-none d-md-inline">user</span>
         </a></li>
         <li class="col-12 mt-4">
            <a href="" routerLink="/admin/create/user" routerLinkActive="active">
            <i class="fa-solid fa-users"></i>
            <span class="d-none d-md-inline">create user</span>
            </a>
          </li>
          <li class="col-12 mt-4">
              <a href="" routerLink="/admin/edit/user" routerLinkActive="active">
              <i class="fa-solid fa-users"></i>
              <span class="d-none d-md-inline">edit user</span>
              </a>
            </li>
        <li class="col-12 mt-4"><a href="" routerLink="/admin/student" routerLinkActive="active">
            <i class="fa-solid fa-book-open-reader"></i>
         <span class="d-none d-md-inline">student</span> </a></li>
        <li class="col-12 mt-4">
          <a href="" routerLink="/admin/create/student" routerLinkActive="active">
            <i class="fa-solid fa-book-open-reader"></i>
          <span class="d-none d-md-inline">create Student</span>
          </a>
        </li>
        <li class="col-12 mt-4">
            <a href="" routerLink="/admin/edit/student" routerLinkActive="active">
             <i class="fa-solid fa-book-open-reader"></i>
            <span class="d-none d-md-inline">edit Student</span>
            </a>
          </li>
      </ul>
    </div>
  </div>
  