<div class="container">

<table class="table text-center m-auto mb-2">
    <thead style=" background-color: #18AF9A;">
      <tr>
        <th style="background-color: rgb(237, 237, 237);" colspan="4">
        </th>
      </tr>
      <tr class="text-white">
        <th>#</th>
        <th>Photo</th>
        <th>name</th>
        <th>ssn</th>
        <th>address</th>
        <th>class</th>
        <th>academic_year</th>
        <th>absence</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let student of students; let i=index;">
        <tr>
          <td class="px-1">{{i+1}}</td>
          <td  style="width: 4%;">
            <img src="http://localhost:5000/uploads/student/{{student?.img}}" alt="" class="w-100" style="height: 6vh;">
          </td>
          <td>{{student.name}}</td>
          <td>{{student.ssn}}</td>
          <td>{{student.address}}</td>
          <td>{{student.class}}</td>
          <td>{{student.academic_year}}</td>
          <td>{{student.absent}}</td>
          <td>
            <button class="btn" (click)="deleteStudent(student._id)"><i class="fa fa-trash text-danger"></i></button>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#EditModal" (click)="showStudent(student)"><i class="fa fa-edit text-primary"></i></button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<app-edit-student (isEdit)="receivedEditUser($event)" [student]="eStudent"></app-edit-student>