<section class=" pt-5">
  <div class="container FirstYear card">
    <p class="first">First Grad</p>
    <div class="row">
    <p class="class1 mt-3">First / First</p>
    <div class="row card " >
      <div class="col-12 row main">
        <p class="col-3">Name</p>
        <p class="col-3">SSN</p>
        <p class="col-3">Class</p>
        <p class="col-3">Academin_Year</p>
      </div>
      <div class="firstY col-12 row" *ngFor="let item of firstYear">
          <div class="firstFirst col-12 row " *ngIf=" item?.class == 'first'" >
                <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                <p class="col-3">{{ item?.ssn }}</p>
                <p class="col-3">{{ item?.class }}</p>
                <p class="col-3">{{ item?.academic_year }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="class1 mt-3">First / Second</p>
      <div class="row card" >
        <div class="col-12 row main">
          <p class="col-3">Name</p>
          <p class="col-3">SSN</p>
          <p class="col-3">Class</p>
          <p class="col-3">Academin_Year</p>
        </div>
        <div class="firstY col-12 row" *ngFor="let item of firstYear">
            <div class="firstFirst col-12 row " *ngIf=" item?.class == 'second'" >
                  <p class="col-3  myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                  <p class="col-3">{{ item?.ssn }}</p>
                  <p class="col-3">{{ item?.class }}</p>
                  <p class="col-3">{{ item?.academic_year }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="class1 mt-3">First / Third</p>
        <div class="row card mb-5" >
          <div class="col-12 row main">
            <p class="col-3">Name</p>
            <p class="col-3">SSN</p>
            <p class="col-3">Class</p>
            <p class="col-3">Academin_Year</p>
          </div>
          <div class="firstY col-12 row" *ngFor="let item of firstYear">
              <div class="firstFirst col-12 row " *ngIf=" item?.class == 'third'" >
                    <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                    <p class="col-3">{{ item?.ssn }}</p>
                    <p class="col-3">{{ item?.class }}</p>
                    <p class="col-3">{{ item?.academic_year }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<section>
  <div class="container FirstYear card">
    <p class="first">Second Grad</p>
    <div class="row">
    <p class="class1 mt-3">Second / First</p>
    <div class="row card " >
      <div class="col-12 row main">
        <p class="col-3">Name</p>
        <p class="col-3">SSN</p>
        <p class="col-3">Class</p>
        <p class="col-3">Academin_Year</p>
      </div>
      <div class="firstY col-12 row" *ngFor="let item of secondYear">
          <div class="firstFirst col-12 row " *ngIf=" item?.class == 'first'" >
                <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                <p class="col-3">{{ item?.ssn }}</p>
                <p class="col-3">{{ item?.class }}</p>
                <p class="col-3">{{ item?.academic_year }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="class1 mt-3">Second / Second</p>
      <div class="row card" >
        <div class="col-12 row main">
          <p class="col-3">Name</p>
          <p class="col-3">SSN</p>
          <p class="col-3">Class</p>
          <p class="col-3">Academin_Year</p>
        </div>
        <div class="firstY col-12 row" *ngFor="let item of firstYear">
            <div class="firstFirst col-12 row " *ngIf=" item?.class == 'second'" >
                  <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                  <p class="col-3">{{ item?.ssn }}</p>
                  <p class="col-3">{{ item?.class }}</p>
                  <p class="col-3">{{ item?.academic_year }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="class1 mt-3">Second / Third</p>
        <div class="row card mb-5" >
          <div class="col-12 row main">
            <p class="col-3">Name</p>
            <p class="col-3">SSN</p>
            <p class="col-3">Class</p>
            <p class="col-3">Academin_Year</p>
          </div>
          <div class="firstY col-12 row" *ngFor="let item of firstYear">
              <div class="firstFirst col-12 row " *ngIf=" item?.class == 'third'" >
                    <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                    <p class="col-3">{{ item?.ssn }}</p>
                    <p class="col-3">{{ item?.class }}</p>
                    <p class="col-3">{{ item?.academic_year }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>


<section>
  <div class="container FirstYear card">
    <p class="first">Third Grad</p>
    <div class="row">
    <p class="class1 mt-3">Third / First</p>
    <div class="row card " >
      <div class="col-12 row main">
        <p class="col-3">Name</p>
        <p class="col-3">SSN</p>
        <p class="col-3">Class</p>
        <p class="col-3">Academin_Year</p>
      </div>
      <div class="firstY col-12 row" *ngFor="let item of firstYear">
          <div class="firstFirst col-12 row " *ngIf=" item?.class == 'first'" >
                <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                <p class="col-3">{{ item?.ssn }}</p>
                <p class="col-3">{{ item?.class }}</p>
                <p class="col-3">{{ item?.academic_year }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="class1 mt-3">Third / Second</p>
      <div class="row card" >
        <div class="col-12 row main">
          <p class="col-3">Name</p>
          <p class="col-3">SSN</p>
          <p class="col-3">Class</p>
          <p class="col-3">Academin_Year</p>
        </div>
        <div class="firstY col-12 row" *ngFor="let item of firstYear">
            <div class="firstFirst col-12 row " *ngIf=" item?.class == 'second'" >
                  <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                  <p class="col-3">{{ item?.ssn }}</p>
                  <p class="col-3">{{ item?.class }}</p>
                  <p class="col-3">{{ item?.academic_year }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="class1 mt-3">Third / Third</p>
        <div class="row card mb-5" >
          <div class="col-12 row main">
            <p class="col-3">Name</p>
            <p class="col-3">SSN</p>
            <p class="col-3">Class</p>
            <p class="col-3">Academin_Year</p>
          </div>
          <div class="firstY col-12 row" *ngFor="let item of firstYear">
              <div class="firstFirst col-12 row " *ngIf=" item?.class == 'third'" >
                    <p class="col-3 myname"[routerLink]="['/Teacher/student/', item._id]">{{ item?.name }}</p>
                    <p class="col-3">{{ item?.ssn }}</p>
                    <p class="col-3">{{ item?.class }}</p>
                    <p class="col-3">{{ item?.academic_year }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>