
<div class="container">

    <table class="table text-center m-auto mb-2">
        <thead style=" background-color: #18AF9A;">
          <tr>
            <th style="background-color: rgb(237, 237, 237);" colspan="4">
            </th>
          </tr>
          <tr class="text-white">
            <th>#</th>
            <th>Photo</th>
            <th>name</th>
            <th>email</th>
            <th>rule</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of users; let i=index;">
            <tr>
              <td class="px-1">{{i+1}}</td>
              <td  style="width: 4%;">
                <img src="http://localhost:5000/{{user?.img}}" alt="" class="w-100" style="height: 6vh;">
              </td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <ng-container *ngIf="user.role; else teacherRole">
                <td>admin</td>
              </ng-container>
              <ng-template #teacherRole>
                <td>teacher</td>
              </ng-template>
              
            </tr>
          </ng-container>
    
    
    
    
        </tbody>
      </table>
    </div>